<h2 mat-dialog-title>Add a new todo</h2>

<mat-dialog-content [formGroup]="form">
        <input type="hidden" formControlName='id'>
    <mat-form-field>
        <input matInput
            placeholder="New todo"
            formControlName="taskDescription">
    </mat-form-field>
        <input type="hidden" formControlName='action'>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Cancel</button>
    <button class="mat-raised-button mat-primary"(click)="save(action)">Save</button>
</mat-dialog-actions>
